.card {
  margin: 0 auto;
  max-width: 350px;
  max-height: 600px;
  text-align: center;
  justify-content: center;
  background-color: var(--color-white);
  border-radius: 20px;
}

.card-content {
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
}

.card .card-hero img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card .card-header {
  font-weight: 700;
}

.card-header h1 {
  color: var(--color-text);
  padding: 20px;
}

.card-header p {
  color: var(--color-text-light);
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
}

.plan-box {
  display: flex;
  min-width: 350px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.plan-info {
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 20px;
}

.plan-icon img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.plan-text h2 {
  color: var(--color-text);
  font-weight: 700;
  font-size: 0.9em;
}

.plan-text span {
  color: var(--color-text-light);
  font-weight: 700;
  font-size: 0.9em;
}

.change-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  font-weight: 700;
}

a.change-link:hover {
  color: var(--color-secundary) !important;
  cursor: pointer;
  text-decoration: none;
}

.card.actions {
  display: flex;
  height: 400px;
}

.btn-primary {
  background-color: var(--color-primary);
  width: 280px;
  height: 40px;
  color: var(--color-white);
  font-weight: 700;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 5px 20px rgba(80, 80, 180, 0.3);
}       

.btn-primary:hover {
  background-color: var(--color-secundary);
  cursor: pointer;
}

.btn-secondary {
  width: 280px;
  height: 60px;
  padding: 20px;
  margin: 0 auto;
  color: var(--color-text-light);
  font-weight: 700;
  font-size: 0.75em;
}

.btn-secondary:hover {
  color: var(--color-text);
  cursor: pointer;
}
